{% extends "base.html" %}
{% load static %}
<!--From products/templatetags-->
{% load bag_tools %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2 push-content-down">
        <section class="py-5 back-ground-white">
            <div class="row">
                <div class="col">
                    <h2 class="logo-font text-center text-warning mb-4">Your Shopping Cart</h2>
                </div>
            </div>
            <section class="">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {% if bag_items %}
                        <!--Summary of the bag content-->
                            <section>
                                <div class="d-block d-md-none">
                                    <div class="col">
                                        <section class="text-center">
                                            <p class="text-center text-muted">Review your selected items and proceed to checkout.</p>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <div class="col text-green-color">
                                            {% include "bag/bag-total.html" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-block d-md-none">
                                    <div class="col">
                                        {% include "bag/checkout-buttons.html" %}
                                    </div>
                                </div>

                                <section class="text-center">
                                    <p class="text-center text-muted">Review your selected items and proceed to checkout below.</p>
                                </section>

                                <!--Iterate through the bag items and generate a row for each item. on smaller screen-->
                            {% for item in bag_items %}
                                <div class="row d-block d-md-none">
                                    <div class="col-12 col-sm-6 mb-2 d-flex align-items-center">
                                      {% include "bag/product-image.html" %}
                                      <div style="margin-left: 10px;">
                                        <!-- Product info and price inline with the image on smaller screens -->
                                        {% include "bag/product-info.html" %}
                                        <p class="my-0">Price Each: ${{ item.product.price }}</p>
                                        <p><strong>Subtotal: </strong>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                      </div>
                                    </div>
                                     <div class="row">
                                        <p class="my-0 small text-muted d-block d-md-none d-lg-none">SKU: {{ item.product.sku|upper }}</p>
                                    </div>
                                    
                                    <div class="col-12 col-sm-6">
                                      {% include "bag/quantity-form.html" %}
                                    </div>
                                  </div>
                                  <div class="row d-block d-md-none">
                                    <div class="col">
                                      <hr>
                                    </div>
                                  </div>
                            {% endfor %}
                            <!--Code for back to top button html template-->
                            <div class="btt-button shadow-sm rounded-0 border border-black"> <!--btt-button and btt-link found in our base.css-->
                                <a class="btt-link d-flex h-100">
                                    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                                </a>
                        </div>
                            </section>
                            <section class="table-responsive rounded d-none d-md-block">
                                <!-- Table content -->
                                <table class="table tableborderless p-3">
                                    <thead class="text-black">
                                        <tr>
                                            <th scope="col">Product Info</th>
                                            <th scope="col"></th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Subtotal</th>
                                        </tr>
                                    </thead>
                                {% for item in bag_items %}
                                    <tr>
                                        <td class="p-3 w-20">
                                            {% include "bag/product-image.html" %}
                                        </td>
                                        <td class="py-3">
                                            {% include "bag/product-info.html" %}
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">${{ item.product.price }}</p>
                                        </td>
                                        <td class="py-3 w-25">
                                            {% include "bag/quantity-form.html" %}
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    <tr>
                                        <td colspan="5" class="pt-5 text-end">
                                            {% include "bag/bag-total.html" %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-end">
                                            {% include "bag/checkout-buttons.html" %}
                                        </td>
                                    </tr>
                                </table>
                            </section>
                        {% else %}
                            <div class="text-center fade-animation">
                                <p class="lead my-3">Your cart is empty</p>
                                <a class="btn btn-outline-dark rounded-0 btn-lg" href="{% url 'all_products' %}">
                                    <span class="icon">
                                        <i class="bi bi-chevron-left"></i>
                                    </span>
                                    <span>Continue shopping</span>
                                </a>
                            </div>
                            <section class="text-center mt-4 pb-5">
                                <img class="img-fluid" src="{% static 'images/cart.jpeg' %}" alt="A cart image">
                            </section>
                        {% endif %}
                    </div>
                </div>
            </section>
        </section>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
   <!--Back to Top functionality-->
    <script>
        // Select the first element with the class 'btt-link'
        let bttLink = document.getElementsByClassName('btt-link')[0];

        // Ensure the element exists before adding the event listener
        bttLink.addEventListener('click', function(e) {
            e.preventDefault(); // Prevent default link behavior
            window.scrollTo(0, 0); // Scroll to the top
        });
    </script>

{% include "products/includes/quantity_input_script.html" %}

<!--For the Update and Remove link in our bag when incremented or decremented and submit the form and the amount increases-->
<script type="text/javascript">
   // update quantity on click
   $('.update-link').click(function(e) {
       var form = $(this).prev('.update-form'); // 'prev' method to find the most recently seen update form in the Dom.
       form.submit();
   })
   
   // Remove item and reload in click
   /* The intention here is to post some data to a URL. Which we'll create in a future video.
     And once the response comes back from the server reload the page to reflect the updated bag.*/
   $('.remove-item').click(function(e) {
       var csrfToken = "{{ csrf_token }}";
       var itemId = $(this).attr('id').split('remove_')[1];
       var size = $(this).data('product_size');
       var url = `/bag/remove/${itemId}/`;
       var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

       $.post(url, data)
        .done(function() {
           location.reload()
        });
   })
</script>
{% endblock %}
