{% extends "base.html" %}
{% load static %}

<!--page header
    to push the top of it down to the bottom of the main nav bar and site header.-->
    {% block page_header %}
    <section>
        <div class="container header-container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <!--Section for homepage images-->
    <section class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-2 margin-t push-content-down-homepage">
            <div class="col">
              <div class="card h-100">
                <a href="{% url 'all_products' %}?category=summer_tires,winter_tires">
                    <img src="{% static 'images/tires.png' %}" class="card-img-top" alt="An image of motor tires">
                </a>
                <div class="card-body">
                  <h5 class="text-center">Tires</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="{% url 'all_products' %}?category=break_pad,breaks_disc">
                    <img src="{% static 'images/breaks.png' %}" class="card-img-top" alt="breaks logo">
                </a>
                <div class="card-body">
                  <h5 class="text-center">Breaks</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="{% url 'all_products' %}?category=filters,clutch,engines">
                    <img src="{% static 'images/clutchs.png' %}" class="card-img-top" alt="clutch logo">
                </a>
                <div class="card-body">
                  <h5 class="text-center">Clutch & Automotive</h5>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100">
                  <a href="{% url 'all_products' %}?category=shock_absorber,ignition_preheating">
                     <img src="{% static 'images/cushioning.png' %}" class="card-img-top" alt="cushioning logo">
                  </a>
                  <div class="card-body">
                    <h5 class="text-center">Ammortization</h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <a href="{% url 'all_products' %}?category=filters,clutch,engines">
                     <img src="{% static 'images/filter.png' %}" class="card-img-top" alt="motor filters">
                  </a>
                  <div class="card-body">
                    <h5 class="text-center">Filter</h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                    <a href="{% url 'all_products' %}?category=filters,clutch,engines">
                        <img src="{% static 'images/engine.png' %}" class="card-img-top" alt="car engine images">
                    </a>
                  <div class="card-body">
                    <h5 class="text-center">Engine</h5>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                    <a href="">
                        <img src="{% static 'images/oils-&-liquids.png' %}" class="card-img-top" alt="oil product for cars">
                    </a>
                  <div class="card-body">
                    <h5 class="text-center">Oils & Liquid</h5>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                    <a href="">
                        <img src="{% static 'images/hanging-lamp.png' %}" class="card-img-top" alt="car hanging lamp">
                    </a>
                  <div class="card-body">
                    <h5 class="text-center">Suspension</h5>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                    <a href="">
                        <img src="{% static 'images/belts-chains-rollers.png' %}" class="card-img-top" alt="car engine belt chains and rollers">
                    </a>
                  <div class="card-body">
                    <h5 class="text-center">Belts, chains, rollers</h5>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                    <a href="">
                        <img src="{% static 'images/electrical.png' %}" class="card-img-top" alt="car electrical part">
                    </a>
                  <div class="card-body">
                    <h5 class="text-center">Electrical</h5>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                    <a href="">
                        <img src="{% static 'images/exhaust-gas-recirculation-valve.png' %}" class="card-img-top" alt="car gas recircualtion valve">
                    </a>
                  <div class="card-body">
                    <h5 class="text-center">Exhaust gas Valve</h5>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                    <a href="{% url 'all_products' %}?category=other_categories">
                        <img src="{% static 'images/other-categories.png' %}" class="card-img-top" alt="differents cars categories">
                    </a>
                  <div class="card-body">
                    <h5 class="text-center">Other categories</h5>
                  </div>
                </div>
              </div>
    </section>

    <section>
        <article class="row">
            <p class="text-center text-black">
                BUY CAR SPARE PARTS FROM WELL-KNOWN MANUFACTURERS ONLINE
            </p>
        </article>
  </section>

  
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/randompost.js' %}"></script>
{% endblock %}