<section class="mt-4 offset-lg-1">
    <h2 class="text-success">Testimonials</h2>
    {% for testimonial in testimonials %}
        <article class="mt-4">
            <header>
                <span class="fs-5">{{ testimonial.author }}</span> / 
                <time datetime="{{ testimonial.created_at|date:'Y-m-d' }}">
                    <small><em>{{ testimonial.created_at }}</em></small>
                </time>
            </header>
            <p>{{ testimonial.message }}</p>
        </article>
    {% endfor %}
</section>
