<section class="mt-4 offset-lg-1">
    <h2 class="text-success">Testimonials</h2>
    {% for testimonial in testimonials %}
        <article class="mt-4">
            <header>
                <span class="fs-5">{{ testimonial.author }}</span> / 
                <time datetime="{{ testimonial.created_at|date:'Y-m-d' }}">
                    <small><em>{{ testimonial.created_at }}</em></small>
                </time>
            </header>
            <span>{{ testimonial.message }}</span>  
            <span class="dropdown">
                <i class="fas fa-cog"></i>
                <div class="dropdown-content">
                    <button class="btn btn-delete text-danger" data-comment_id="{{ testimonial.id }}">Delete</button>
                    <button class="btn btn-edit text-success" data-comment_id="{{ testimonial.id }}">Edit</button>
                </div>
            </span>
        </article>
    {% endfor %}
</section>