body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(183, 196, 159, 0.451);
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/*Body Google font*/
.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.base-header {
    background-color: #132530;
    color: white;
    padding-bottom: 12px;
}

.base-header2 {
    background-color: whitesmoke;
    color: white;
}

.contact-info{
    font-size: 12px;
}

/***************************Logo size*/
.logo-font {
    font-size: 30px;
}


/****************************Nav links*/
.nav-link-glow{
    font-size: 18px;
    font-weight: 400;
    color: rgb(27, 27, 27) !important;
}

/******************************* Logo Styling / Brightening Background*/
.nav-shine {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.nav-shine::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    z-index: -1;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
    }
}


/***************************** Homepage images styling*/
.margin{
    margin-top: 160px;
    padding: 50px;
}

/****************************** All Main Content Section

/*Body height to push footer down*/
#main-content{
    min-height: 100vh;
    flex: 1 0 auto;
}

/*Push products header down*/
.push-content-down{
    margin-top: 13em;
}

.push-content-down-detail {
    margin-top: 9.5em;
    padding-top: 5rem;
}

.push-modal-down {
    margin-top: 7.5em;
    padding: 10rem;
}

.push-modal-x-down {
    margin-top: 5px;
    padding: 5rem;
}

.cart-bg {
    background-color: #2a3943;
    border-radius: 50px;
}


/* The Modal (background) product_detail page*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 400px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #c00c0c;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/*Media queries*/
/* For smaller screens */
@media (min-width: 768px) {
    .nav-items {
        margin-left: 90px;
        padding: 5px;
    }

    .margin{
        margin-top: 130px;
        padding: 50px;
    }
}

  
  