body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
}

.base-header {
    background-color: #132530;
    color: white;
    padding-bottom: 12px;
}

.base-header2 {
    background-color: whitesmoke;
    color: white;
    padding-bottom: 12px;
}

#main-content{
    min-height: 100vh;
    flex: 1 0 auto;
}

.contact-info{
    font-size: 12px;
}

.nav-links{
    font-size: 17px;
    font-weight: 400;
    color: #132530 !important;
}

.nav-links:hover{
    color: yellow !important;
}

.nav-items{
    margin-right: 90px;
    padding: 5px;
}

.nav-icon{
    margin-right: 20px;
    font-size: 24px;
}