body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
}

.base-header {
    background-color: #132530;
    color: white;
    padding-bottom: 12px;
}

.base-header2 {
    background-color: whitesmoke;
    color: white;
}

.contact-info{
    font-size: 12px;
}

/***************************Logo size*/
.logo-font {
    font-size: 30px;
}

/****************************Nav links*/
.nav-links{
    font-size: 18px;
    font-weight: 400;
    color: rgb(27, 27, 27) !important;
}

/***************************** Homepage images styling*/
.margin{
    margin-top: 160px;
    padding: 50px;
}

/*Body height to push footer down*/
#main-content{
    min-height: 100vh;
    flex: 1 0 auto;
}

/*Media queries*/
/* For smaller screens */
@media (min-width: 768px) {
    .nav-items {
        margin-left: 90px;
        padding: 5px;
    }

    .margin{
        margin-top: 130px;
        padding: 50px;
    }
}

  
  