{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="overlay back-ground-white-color"></div>
    <section class="container push-content-down">
        <header class="container">
            <div class="row">
                <div class="col">
                    <h1 class="lead text-danger text-capitalize">Error 404</h1>
                </div>
            </div>
        </header>
        <div class="row h-100">
            <article class="col-12 my-auto">
                <h4 class="logo-font text-black">
                    The page you are looking for isn't available
                </h4>
                <div class="mt-4">
                    <h5>
                        <a href="{% url 'home' %}" 
                            class="btn btn-lg btn-outline-danger rounded-0 text-capitalize">
                                Return to Home page
                        </a>
                    </h5>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
