{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Improves compatibility or Tells IE to use the latest rendering engine:-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Meta tags for search engines-->
      <meta name="description"
        content="Find high-quality auto spare parts for all makes and models. Fast shipping, great prices, and excellent customer service.">
      <meta name="keywords"
        content="auto spare parts, car parts, vehicle parts, automotive parts, replacement parts, car accessories, auto parts store, buy car parts online, discount auto parts, OEM parts">
      <meta name="author" content="AutoSparePart">
      <meta name="robots" content="index, follow">
  {% endblock %}

  <!--In case we want to add any extra meta CSS or JavaScript in the head without
        interfering with the core requirements.-->
  {% block extra_meta %}
  {% endblock %}

  <title>Auto Spare Part {% block extra_title %}{% endblock %}</title>

  <!-- Bootstrap CSS -->
  {% block corecss %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,700&family=EB+Garamond:ital,wght@0,600;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  <!--Bootsrap-->
  {% block corejs %}
      <script src="https://kit.fontawesome.com/318690f07a.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  {% endblock %}

  <!--In case we want to add any extra meta CSS or JavaScript in the head without
        interfering with the core requirements.-->
  {% block extra_js %}
  {% endblock %}

<body>
  <!--container-fluid and fixed-top to ensure that it sticks to the top of the page.-->
  <header class="fixed-top base-header">
    <div class="container mt-2">
      <!--Section for our contact info-->
      <section>
          <div class="w-100 d-flex d-none d-md-block">
            <div>
              <i class="bi bi-envelope-fill text-light contact-info"></i>
              <span class="navbar-sm-brand text-light text-decoration-none contact-info">info@autosparepart.com</span>
              <i class="bi bi-phone-fill contact-info text-light"></i>
              <span class="navbar-sm-brand text-white text-decoration-none contact-info">+39356123478</span>
              <span class="navbar-sm-brand text-center text-white text-decoration-none d-flex justify-content-center align-items-center">  
                <span class="mt-0">
                  Free shipping for orders above €86
                  <i class="fa fa-truck" style="margin-left: 8px;"></i>
                </span>
            </span>
            </div>
          </div>
    </section>
    </div>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary my-3">
      <!--Wrapped the button and logo in a div with d-flex align-items-center to align them horizontally.-->
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h1 class="logo-font d-none d-sm-block"><strong><span class="text-warning">Auto</span></strong><span
                class="text-black">SparePart</span></h1>
          </a>
        </div>

        <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item d-lg-none">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                  <a href="{% url 'all_products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                  <a href="{% url 'all_products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                  <a href="{% url 'all_products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                  <a href="{% url 'all_products' %}" class="dropdown-item">All Products</a>
              </div>
           </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-links" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tires
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'all_products' %}?category=summer_tires">Summer</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'all_products' %}?category=winter_tires">Winter</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'all_products' %}?category=summer_tires, winter_tires">All-Season-Tires</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-links" href="" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Breaks
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'all_products' %}?category=break_pad">Breaks Pad</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'all_products' %}?category=breaks_disc">Breaks Disc</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'all_products' %}?category=break_pad,breaks_disc">All-Items</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-links" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Ammortization
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'all_products' %}?category=shock_absorber">Shock Absorber</a></li>
                <li><a class="dropdown-item" href="{% url 'all_products' %}?category=ignition_preheating">Ignition &amp; preheating</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'all_products' %}?category=shock_absorber,ignition_preheating">All-Items</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-links" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Automotive Components
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'all_products' %}?category=filters">Filters</a></li>
                <li><a class="dropdown-item" href="{% url 'all_products' %}?category=clutch">Clutch</a></li>
                <li><a class="dropdown-item" href="{% url 'all_products' %}?category=engines">Engines</a></li>
                <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="{% url 'all_products' %}?category=filters,clutch,engines">All-Items</a></li>
              </ul>
            </li>        
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-2 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="#" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="#" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <!-- Register Modal -->
              <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
              <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="registerModalLabel">Register</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Register</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Login Modal -->
              <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
              <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="loginModalLabel">Login</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Login</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info text-warning font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
              <div class="text-center" style="margin-left: 20px; position: relative;">
                <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>            
        </ul>
      </div>
    </nav>

    <!--Search div-->
      <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6 pt-2">
              <div class="d-flex align-items-center">
                <!-- Search fields-->
                <form method="GET" action="{% url 'all_products' %}" class="d-flex flex-grow-1 mr-5" role="search" style="margin-right: 25px;">
                  <input class="form-control me-2" type="search" name="q" placeholder="Search AutoSparePart" aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn btn-outline-warning mr-2" type="submit"><i class="bi bi-search"></i></button>
                  </div>
                </form>
                <!-- Logo -->
                <div class="pl-5 d-none d-lg-block">
                  <a class="nav-link nav-shine nav-links nav-link-glow" href="{% url 'all_products' %}" role="button" aria-expanded="false">
                    <strong><span class="text-warning">All</span></strong><span class="text-black">SparePart-Products</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 </header>

  <section>
    <!--Display any messages that we send back from Django-->
    {% if messages %}
    <div class="message-container" id="disappear-notification">
        {% for message in messages %}
              {% with message.level as level %}
                {% if level == 40 %} <!--Level 40 is Error-->
                  {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %} <!--Level 30 is Warning-->
                  {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %} <!--Level 25 is Success-->
                  {% include 'includes/toasts/toast_success.html' %}
              {% else %} <!--Alert-->
                  {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
            {% endwith %}
  {% endfor %}
    </div>
    {% endif %}
  </section>

  {% block page_header %}
  {% endblock %}

  <main class="flex-shrink-0 main-bg" id="main-content">
    {% block content %}
    {% endblock %}
    
    <!--block postloadjs-->
    {% block postloadjs %}
        <!--JavaScript. To call the toast method from bootstrap. With an option of show.-->
        <script type="text/javascript">
          $(document).ready(function(){
              $('.toast').toast('show');
          });
        </script>
	  {% endblock %}
  </main>

  <!--Footer section-->
  <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/"
            aria-label="Bootstrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block me-2" viewBox="0 0 118 94"
              role="img">
              <title>Bootstrap</title>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                fill="currentColor"></path>
            </svg>
            <span class="fs-5">Bootstrap</span>
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2">Designed and built with all the love in the world by the <a
                href="/docs/5.3/about/team/">Bootstrap team</a> with the help of <a
                href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</li>
            <li class="mb-2">Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank"
                rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/"
                target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
            <li class="mb-2">Currently v5.3.3.</li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/">Home</a></li>
            <li class="mb-2"><a href="/docs/5.3/">Docs</a></li>
            <li class="mb-2"><a href="/docs/5.3/examples/">Examples</a></li>
            <li class="mb-2"><a href="https://icons.getbootstrap.com/">Icons</a></li>
            <li class="mb-2"><a href="https://themes.getbootstrap.com/">Themes</a></li>
            <li class="mb-2"><a href="https://blog.getbootstrap.com/">Blog</a></li>
            <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap" target="_blank" rel="noopener">Swag
                Store</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Guides</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/docs/5.3/getting-started/">Getting started</a></li>
            <li class="mb-2"><a href="/docs/5.3/examples/starter-template/">Starter template</a></li>
            <li class="mb-2"><a href="/docs/5.3/getting-started/webpack/">Webpack</a></li>
            <li class="mb-2"><a href="/docs/5.3/getting-started/parcel/">Parcel</a></li>
            <li class="mb-2"><a href="/docs/5.3/getting-started/vite/">Vite</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Projects</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener">Bootstrap 5</a>
            </li>
            <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev" target="_blank"
                rel="noopener">Bootstrap 4</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/icons" target="_blank" rel="noopener">Icons</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/rfs" target="_blank" rel="noopener">RFS</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/examples/" target="_blank" rel="noopener">Examples
                repo</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Community</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues" target="_blank"
                rel="noopener">Issues</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions" target="_blank"
                rel="noopener">Discussions</a></li>
            <li class="mb-2"><a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Corporate
                sponsors</a></li>
            <li class="mb-2"><a href="https://opencollective.com/bootstrap" target="_blank" rel="noopener">Open
                Collective</a></li>
            <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5" target="_blank"
                rel="noopener">Stack Overflow</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>