{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    main {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
        text-align: center;
        font-family: Arial, sans-serif;
        color: #333;
        box-shadow: 5px 5px 10px #000;
    }
    h1 {
        color: #4CAF50;
    }
    p {
        font-size: 18px;
    }
    a {
        color: #4CAF50;
        text-decoration: none;
    }
</style>
<main class="push-content-down">
    <h1>Thank You!</h1>
    <p>Your message has been successfully sent. We appreciate you reaching out to us.</p>
    <p>We will get back to you as soon as possible.</p>
    <p>In the meantime, feel free to <a href="{% url 'home' %}">return to our homepage</a>.</p>
</main>
{% endblock %}
