{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay back-ground-white-color"></div>
<main class="container push-content-down p-5">
    <header class="text-center my-4">
        <h1 class="text-warning">
            <hr>
                Your Wishlist</h1>
            <hr>
    </header>
    <section class="row">
        <div class="col-12">
            <a href="{% url 'all_products' %}" class="btn btn-outline-warning">
                <i class="fas fa-arrow-left"></i> Back to Store
            </a>
        </div>
    </section>
    <section class="row">
        {% if wishlist_items %}
            <div class="row">
                {% for item in wishlist_items %}
                    <div class="col-12 col-md-6 col-lg-4 p-4">
                        <div class="card h-100">
                            {% if item.product.image %}
                                <img class="card-img-top img-fluid img-box" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% endif %}
                            <div class="card-body text-center">
                                <header>
                                    <p class="lead mb-0 text-left font-weight-bold">${{ item.product.price }}</p>
                                    <h5 class="card-title">{{ item.product.name }}</h5>
                                </header>
                                <div class="d-flex flex-column flex-md-row justify-content-center">
                                    <a class="btn btn-danger btn-sm mb-2 mb-md-0 mr-md-2 text-decoration-none cart-bg-wish-del-btn" style="margin-right: 5px;" href="{% url 'remove_from_wishlist' item.product.id %}">
                                        <i class="bi bi-trash-fill"></i> Remove
                                    </a>
                                    <!--form to Add to Cart-->
                                    <form class="form" action="{% url 'add_item_to_bag' item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <button type="submit" class="text-danger text-decoration-none cart-bg btn-sm">Add to Cart</button>
                                    </form>
                                </div>
                                <footer>
                                    <p class="card-text mt-3">{{ item.product.description }}</p>
                                </footer>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="col-12 text-center">
                <p id="wishlist-fade-in-out" class="text-muted">Your wishlist is currently empty. Start adding some items!</p>
            </div>
        {% endif %}
    </section>
</main>

<section>
    <!--Code for back to top button html template-->
    <div class="btt-button shadow-sm rounded-0 border border-black"> <!--btt-button and btt-link found in our base.css-->
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
   <!--Back to Top functionality-->

    <script>
        // Select the first element with the class 'btt-link'
        let bttLink = document.getElementsByClassName('btt-link')[0];

        // Ensure the element exists before adding the event listener
            bttLink.addEventListener('click', function(e) {
                e.preventDefault(); // Prevent default link behavior
                window.scrollTo(0, 0); // Scroll to the top
            });
    </script>
{% endblock %}
